{
	"dns": {
		"servers": [
			"180.76.76.76",
			"223.5.5.5",
			"223.6.6.6",
			"114.114.114.114",
			"8.8.8.8",
			"8.8.4.4"
		]
	},
	"fakedns": {
		"ipPool": "198.18.0.0/15",
		"poolSize": 65535
	},
	"inbounds": [
		{
			"listen": "127.0.0.1",
			"port": 7890,
			"protocol": "http",
			"settings": {
				"allowTransparent": true,
				"timeout": 300
			},
			"sniffing": {
			},
			"tag": "HTTP_IN"
		},
		{
			"listen": "127.0.0.1",
			"port": 7891,
			"protocol": "socks",
			"settings": {
				"auth": "noauth",
				"ip": "127.0.0.1",
				"udp": true
			},
			"sniffing": {
			},
			"tag": "SOCKS_IN"
		}
	],
	"outbounds": [
		<SERVER>,
		{
			"protocol": "freedom",
			"sendThrough": "0.0.0.0",
			"settings": {
				"domainStrategy": "AsIs",
				"redirect": ":0"
			},
			"streamSettings": {
			},
			"tag": "DIRECT"
		},
		{
			"protocol": "blackhole",
			"sendThrough": "0.0.0.0",
			"settings": {
				"response": {
					"type": "none"
				}
			},
			"streamSettings": {
			},
			"tag": "BLACKHOLE"
		}
	],
	"policy": {
		"system": {
			"statsInboundDownlink": true,
			"statsInboundUplink": true,
			"statsOutboundDownlink": true,
			"statsOutboundUplink": true
		}
	},
	"routing": {
		"domainStrategy": "IPIfNonMatch",
		"rules": [
			{
				"type": "field",
				"outboundTag": "BLACKHOLE",
				"domain": ["a.invalid" <BLACKHOLE>]
			},
			{
				"type": "field",
				"outboundTag": "DIRECT",
				"domain": ["geosite:cn" <DIRECTDOMAIN>]
			},
			{
				"type": "field",
				"outboundTag": "DIRECT",
				"ip": ["geoip:cn", "geoip:private" <DIRECTIP>]
			},
			{
				"type": "field",
				"outboundTag": "PROXY",
				"network": "tcp, udp"
			}
		]
	},
	"log": {
		"loglevel": "warning"
	}
}
